* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #fefae0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.size--container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.size--container input {
  width: 50px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  -webkit-border-radius: 0;
}

.shape--container {
  margin: 25px 0px;
}

.shape {
  border: 3px solid black;
  width: 250px;
  height: 250px;
  transition: border-radius 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.range--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.output {
  margin: 30px;
}

@media (max-width: 375px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  .range--container {
    gap: 50px;
  }

  input[type="range"] {
    scale: 1.2;
  }

  .output {
    margin-bottom: 50px;
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 42px;
  }

  .container {
    justify-content: space-evenly;
  }

  .size--container input {
    background-color: transparent;
    font-size: 36px;
    width: 100px;
  }

  .range--container {
    gap: 200px;
  }

  input[type="range"] {
    scale: 2;
  }
}
